.auth-modal-sign,
.auth-modal-footer,
.auth-modal-footer-content-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.auth-modal-footer {
  flex-direction: column;

  .auth-modal-sign {
    border-radius: 32px;
    width: 100%;
    height: 44px;
    position: relative;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(250, 250, 250, 0.9);
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    &.social {
      height: 40px;
      width: 40px;

      & > svg {
        height: 18px;
        width: 18px;
      }
    }
    &:hover {
      opacity: 65%;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 32px;
      padding: 1px;
      background: linear-gradient(
        to bottom right,
        rgba(227, 227, 253, 0.3),
        transparent
      );
      -webkit-mask:
        linear-gradient(white, white) content-box,
        linear-gradient(white, white);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
    }
  }

  .auth-modal-footer-content-toggle {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #212529;
    font-weight: 600;

    & > p {
      padding: 0;
      margin: 0;
    }

    .toggle-action {
      background-color: transparent;
      border: none;
      position: relative;
      padding: 4px 8px;
      border-radius: 14px;
      transition: 0.5s ease-in-out;
      color: #212529;
      font-weight: 600;

      &:hover {
        color: rgba(250, 250, 250, 0.9);
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
