.auth-modal-header,
.auth-modal-header-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-modal-header-svg > svg,
.auth-modal-header-text {
  color: rgba(250, 250, 250, 0.9);
  cursor: default;
}
.auth-modal-header {
  gap: 14px;
  padding-bottom: 20px;

  .auth-modal-header-svg {
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 40px;
  }

  .auth-modal-header-text {
    font-size: 10px;
    font-weight: 600;

    & > h3 {
      padding: 0;
      margin: 0;
    }
  }
}
