.auth-modal-form {
  min-height: 142px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .form-label {
    display: none;
  }

  input {
    border: 2px solid transparent;
    transition: border 0.5s ease;

    &.error {
      border: 2px solid rgb(231, 77, 60);
    }

    &.success {
      border: 2px solid rgb(7, 188, 12);
    }

    &:focus {
      border: 2px solid transparent;
      box-shadow: none;
    }
  }

  .row:last-child {
    transform: translateY(-100%);
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease;

    &.is-sign {
      z-index: 0;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
